/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/* hashtag defines the style for one element specified by id in the tag */
/* #map{
    height: 100%;
} */

/* Optional: Makes the sample page fill the window. */
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
  height: 100%;
  width: 100%;
}

.search_container{
  position: absolute;
  z-index: 99999;
  height: 100px;
  width: 100px;
  left: 10px;
  top: 10px;
}
#search_price{
  position:relative ;
  margin: 5px;
}
#map{
  height: 100%;
  z-index:0 ;
  position: relative;
}