#map{
    height: 100%;
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
  height: 30%; 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(230, 100, 25); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(230, 100, 25);
  color: white;
  padding: 7px 15px;
  border: none;
  position: fixed;
  z-index: 10;
}

#search_box{
  padding:4px;
}
